body *,
body *::after,
body *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Noto Sans TC, Regular;
}

body .wrap {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 532px 534px, 850px 768px, 360px 360px, 310px 310px, 150px 150px;
  background-position: 72vw 118px, right top, -222px 589px, right 1350px, center top;
}

body .wrap .container {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 24px;
}

body .wrap .container h2 {
  font-size: 32px;
}

body .wrap .container h3 {
  font-size: 24px;
}

body .wrap .container h4 {
  font-size: 18px;
}

body .wrap .container h5 {
  font-size: 16px;
}

body .wrap .container p {
  font-size: 16px;
}

body .wrap .container .navbar {
  margin-bottom: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 142px;
  padding-right: 139px;
}

body .wrap .container .navbar .logo img {
  width: 218px;
  height: 40px;
}

body .wrap .container .navbar button {
  width: 128px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 22px 22px 22px 22px;
  border: none;
  background-color: #ff5d50;
}

body .wrap .container .banner {
  margin-left: 141px;
  margin-bottom: 374px;
}

body .wrap .container .banner h1 {
  font-size: 18px;
  color: #56c4c5;
}

body .wrap .container .banner h2 {
  font-size: 48px;
  font: normal normal bold 48px/70px Noto Sans TC;
}

body .wrap .container .banner p {
  font-size: 20px;
}

body .wrap .container .social-links {
  margin-bottom: 100px;
  margin-left: 193px;
  margin-right: 204px;
}

body .wrap .container .social-links h2 {
  text-align: center;
  margin-bottom: 48px;
}

body .wrap .container .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .wrap .container .social-links ul img {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

body .wrap .container .social-links ul h3 {
  text-align: center;
  margin-bottom: 24px;
}

body .wrap .container .social-links ul .messenger {
  width: 228px;
}

body .wrap .container .social-links ul .line {
  width: 240px;
}

body .wrap .container .social-links ul .instagram {
  width: 212px;
}

body .wrap .container .social-links ul p {
  color: #747474;
  text-overflow: ellipsis;
}

body .wrap .container .roles {
  margin-bottom: 100px;
}

body .wrap .container .roles h2 {
  text-align: center;
  margin-bottom: 16px;
}

body .wrap .container .roles p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 48px;
}

body .wrap .container .roles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrap .container .roles ul li .round-square {
  width: 260px;
  height: 388px;
  border-radius: 12px;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  padding-bottom: 24px;
}

body .wrap .container .roles ul li .round-square img {
  margin-bottom: 16px;
  border-radius: 12px 12px 0px 0px;
}

body .wrap .container .roles ul li .round-square h5 {
  margin-bottom: 16px;
  line-height: 24px;
  color: #56c4c5;
  text-align: center;
}

body .wrap .container .roles ul li .round-square p {
  width: 228px;
  font-size: 16px;
  line-height: 24px;
  text-overflow: ellipsis;
  margin: 0 auto;
}

body .wrap .container .products {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .wrap .container .products ul {
  width: 560px;
  margin-left: 139px;
  margin-right: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrap .container .products ul li {
  width: 230px;
  height: 280px;
  margin-bottom: 28px;
  margin-right: 47px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  text-align: left;
}

body .wrap .container .products ul li .round-circle {
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 32px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap .container .products ul li h4 {
  margin-bottom: 16px;
  margin-left: 32px;
  font: normal normal bold 18px/26px Noto Sans TC;
}

body .wrap .container .products ul li p {
  margin-left: 32px;
  width: 166px;
  text-overflow: ellipsis;
  line-height: 24px;
}

body .wrap .container .products .product-info {
  margin: auto 0;
}

body .wrap .container .products .product-info h2 {
  width: 256px;
  text-overflow: ellipsis;
  line-height: 46px;
  margin-bottom: 16px;
}

body .wrap .container .products .product-info p {
  font-size: 18px;
  margin-bottom: 24px;
}

body .wrap .container .products .product-info button {
  width: 136px;
  height: 49px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 27px;
  border: none;
  background-color: #56c4c5;
}

body .wrap .container .ranks {
  margin-bottom: 134px;
}

body .wrap .container .ranks h2 {
  text-align: center;
  margin-bottom: 104px;
}

body .wrap .container .ranks ul {
  width: 1088px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrap .container .ranks ul li {
  width: 352px;
  height: 248px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: relative;
}

body .wrap .container .ranks ul li .user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: absolute;
  top: -56px;
  left: 35px;
}

body .wrap .container .ranks ul li p {
  margin: 0 auto;
  margin-top: 48px;
  line-height: 24px;
  width: 288px;
  text-overflow: ellipsis;
}

body .wrap .container .ranks ul li hr {
  width: 288px;
  border: 1px solid #dddddd;
  margin-top: 24px;
  margin-bottom: 24px;
}

body .wrap .container .ranks ul li h5 {
  line-height: 24px;
  font-weight: bold;
  margin-left: 32px;
  margin-bottom: 8px;
}

body .wrap .container .ranks ul li .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 288px;
  margin: 0 auto;
}

body .wrap .container .ranks ul li .position h5 {
  font-size: 16px;
  line-height: 24px;
  margin-left: 0;
  margin-bottom: 0;
}

body .wrap .container .ranks ul li .position .rank-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap .container .ranks ul li .position .rank-star img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

body .wrap .container .footer {
  height: 503px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
  background-repeat: no-repeat;
  text-align: center;
}

body .wrap .container .footer h2 {
  padding-top: 260px;
  margin-bottom: 28px;
  line-height: 46px;
}

body .wrap .container .footer button {
  width: 136px;
  height: 49px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 27px;
  border: none;
  background-color: #56c4c5;
}

body .wrap .container .copy-right {
  height: 56px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrap .container .copy-right p {
  color: #221e1f;
  line-height: 24px;
}
/*# sourceMappingURL=home.css.map */